# Server Configuration
PORT=5000

# MongoDB Connection
MONGODB_URI=mongodb://127.0.0.1:27017/pfe_sans_gluten

# JWT Secret (Change this in production!)
JWT_SECRET=YOUR_SECRET_KEY_HERE_CHANGE_IN_PRODUCTION

# Environment
NODE_ENV=development
